body {
    background-color: #1b262c;
    color: #eeeeee;

    font-family: "Roboto", sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}